body {
  font-family: Arial, sans-serif;
  background-color: #dab6e0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #be87c8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(170, 31, 112, 0.1);
  text-align: center;
  padding: 20px;
}

h1 {
  color: #fff;
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #fff;
  color: #000000e2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #fff;
}

li:last-child {
  border-bottom: none;
}
